/* Full-width input fields */
input[type=text] {
    width: 50%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #ff9dfa;
  }
  
  /* Add a background color when the inputs get focus */
  input[type=text]:hover {
    background-color: #ffbefc;
    outline: none;
  }

  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
    opacity: 0.9;
  }

  button:hover {
    background-color: #70e9bd;
  }

  p, h2 {
    display: inline-block;
  }